.resume-container {
  grid-area: 1/2/-1;
  display: grid;
  align-content: start;

  .header {
    display: grid;
    grid-area: header;
    justify-items: center;
    color: white;
    background-color: var(--primary-col);
    padding: 1rem;

    h1 {
      font-size: 2rem;
    }

    svg {
      margin-right: 0.25rem;
      translate: 0 25%;
    }

    a {
      all: unset;
      display: inline-block;
      padding: 1rem;
      font-size: 1.1rem;
    }
  }

  .body {
    grid-area: body;
    padding: 1rem;
    color: black;

    .info-section {
      margin-bottom: 1rem;

      h2 {
        text-align: center;
        background-color: var(--primary-col);
        color: white;
        opacity: 0.8;
      }

      .stylishpara {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
        padding: 1rem;

        span {
          display: grid;
          row-gap: .25rem;
        }
      }
    }
  }
}
