.resume-container {
  grid-area: 1/2/-1;
  display: grid;
  align-content: start;
  
  .header {
    display: grid;
    grid-area: header;
    justify-items: center;
    color: white;
    background-color: var(--primary-col);
    padding: 1rem;

    h1 {
      font-size: 2rem;
    }

    svg {
      margin-right: 0.25rem;
      translate: 0 25%;
    }

    a {
      all: unset;
      display: inline-block;
      padding: 1rem;
      font-size: 1.1rem;
    }
  }

  .body {
    grid-area: body;
  }
}
