:root {
  --primary-col: #0e374e;
  --secondary-col: rgba(0, 0, 0, 0.87);
  scrollbar-gutter: stable both-edges;
}

@media print {
  .ui-box {
    display: none;
  }

  .resume-container {
    position: fixed;
    box-shadow: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

#root {
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  align-items: start;

  column-gap: 1rem;
  color: var(--secondary-col);
}

.card {
  display: grid;
  padding: 10px;
  box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
}

.controlbtns {
  display: flex;
  position: sticky;
  top: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1.5rem;
  background-color: white;
  z-index: 1;

  & li {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }

    & svg {
      margin-right: 0.5rem;
    }
  }

  & .activebtn {
    color: var(--primary-col);
    background-color: rgb(190, 229, 255);
  }

  & .resetbtn {
    color: darkred;
    &:active {
      background-color: darkred;
      color: white;
    }
  }
}

.accordian {
  width: 100%;
  padding: 1rem 1.25rem;

  & .header {
    font-size: 1.25rem;
    cursor: pointer;

    & svg {
      translate: 0 0.15rem;
      margin-right: 1rem;
    }

    & span {
      float: right;
      scale: 1.2;
    }
  }

  & .detailsbox {
    display: grid;
    row-gap: 1rem;
    margin-top: 1rem;

    & label {
      font-weight: bold;
      color: var(--primary-col);
    }
  }
}

.content-tab {
  grid-column: 1;
  display: grid;
  row-gap: 1.25rem;

  & .fieldcard {
    margin-top: 1rem;

    & .header {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

.customize-tab {
  grid-column: 1;
  display: grid;
  grid-template: 1fr 3fr / 1fr 1fr;
  gap: 2rem;
  align-items: start;

  & .accordian:nth-child(2) {
    grid-row: 1 / -1;
  }

  & .layoutbox {
    padding: 1rem;
    display: grid;
    grid-template: 70px 70px / 70px 70px;
    justify-content: center;
    gap: 10px;

    & > div {
      border: 1px solid var(--secondary-col);
      cursor: pointer;

      &.active {
        border-width: 4px;
      }

      &:nth-child(1) {
        background: linear-gradient(
          to right,
          white 50%,
          var(--primary-col) 50%
        );
      }
      &:nth-child(2) {
        background: linear-gradient(to top, white 50%, var(--primary-col) 50%);
      }
      &:nth-child(3) {
        background: linear-gradient(to left, white 50%, var(--primary-col) 50%);
      }
    }
  }

  & .fontbox {
    display: grid;
    padding: 1rem 0.2rem;
    font-weight: bold;
    font-size: 1.1rem;
    row-gap: 0.5rem;
    width: 100%;

    & label {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    & input[type="radio"] {
      margin-right: 1rem;
      scale: 1.25;
    }
  }
}

& input[type="color"] {
  border: 0;
  height: 30px;
  width: 30px;
  margin: 0.25rem 2rem;
  cursor: pointer;
}

input:not([type='radio'], [type='color']),
textarea {
  all: unset;
  font-size: 1rem;
  padding: 0.5rem;
  width: 95%;
  background-color: lightgray;
}

& textarea {
  min-height: 5rem;
}
