@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Assistant Variable", sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }
  svg {
    @apply inline-block w-6;
  }
  body {
    @apply p-6 bg-gradient-to-tl from-white to-blue-200 min-h-screen;
  }
}

@layer components {
  .layoutinfo:nth-child(1) {
    background: linear-gradient(to right, white 50%, var(--color) 50%);
  }
  .layoutinfo:nth-child(2) {
    background: linear-gradient(to top, white 50%, var(--color) 50%);
  }
  .layoutinfo:nth-child(3) {
    background: linear-gradient(to left, white 50%, var(--color) 50%);
  }
}

@media print {
  .ui-box {
    display: none;
  }

  .resume-container {
    position: fixed;
    box-shadow: none;
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
}
